.text-green {
  color: #0D9603;
}

.nav-link:hover {
  background-color: #000000;
  color: #0D9603 !important;
  border-radius: 10px;
}

.dropdown-menu-dark {
  background-color: #343a40; /* Un color de fondo oscuro que coincida con tu navbar */
  border-color: #343a40;
}


.dropdown-menu-dark .dropdown-item:hover, .dropdown-menu-dark .dropdown-item:focus {
  background-color: #000000;
  color: #0D9603 !important;
}
