<div>
	<div class="container-fluid">
		<div class="row flex-nowrap">
			<div class="col-auto col-md-auto col-xl-2 px-sm-2 px-0 bg-dark">
				<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
					<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
						<img src="../../favicon.ico" alt="regsan-app-icon" class="ms-2" style="width: 40px; height: 40px">
            <h2><strong>REGSAN</strong></h2>
            </a>
            <span class="fs-5 d-none d-sm-inline">Administrador</span>
					<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
						<li class="nav-item">
							<a href="#" class="nav-link align-middle px-0">
								<img src="../../assets/icons/home-w.svg" alt="home-icon">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
              </a>
						</li>
						<li>
							<a href="#submenu1" class="nav-link px-0 align-middle">
                <img src="../../assets/icons/clientes-w.svg" alt="clients-icon">
								<span class="ms-1 d-none d-sm-inline">Clientes</span> </a>
            </li>
						<li>
							<a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
								<img src="../../assets/icons/tramites-w.svg" alt="procedures-icon">
                <span class="ms-1 d-none d-sm-inline">Trámites</span></a>
							<ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
								<li class="w-100">
									<a href="#" class="nav-link px-20">
                    <img src="../../assets/icons/administrar-tramites.svg" alt="admin-procedures-icon">
                    <span class="d-none d-sm-inline">Administrar Trámites</span></a>
								</li>
								<li>
									<a href="#" class="nav-link px-20">
                    <img src="../../assets/icons/ver-tramites.svg" alt="see-procedures-icon">
                    <span class="d-none d-sm-inline">Ver Trámites</span></a>
								</li>
                <li>
									<a href="#" class="nav-link px-20">
                    <img src="../../assets/icons/agregar-datos.svg" alt="add-data-icon">
                    <span class="d-none d-sm-inline">Agregar Datos Técnicos</span></a>
								</li>
							</ul>
						</li>
            <li>
							<a href="#" class="nav-link px-0 align-middle">
								<img src="../../assets/icons/id-w.svg" alt="employees-icon">
                <span class="ms-1 d-none d-sm-inline">Empleados</span> </a>
						</li>
					</ul>
					<hr>
          <!-- se realiza la división entre elementos del navbar y logout -->
          <div class="bottom-item ">
            <a href="#" class="nav-link px-0 align-middle">
							<img src="../../assets/icons/logout-2-w.svg" alt="logout-icon">
              <span class="ms-1 d-none d-sm-inline">Salir</span> </a>
					</div>
				</div>
			</div>
			<div class="col py-3">
				<!-- información de la sección en específico -->
			</div>
		</div>
	</div>
</div>
