<app-navbar></app-navbar>
<div class="container-fluid pt-4 px-4">
  <h4>Confirmación de Factura</h4>

  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-form rounded h-100 p-4">
        <h6 class="mb-4">Seleccionar Cliente y Trámite</h6>
        <form [formGroup]="facturaForm">
          <!-- Selección de Cliente -->
          <div class="mb-3">
            <label for="cliente" class="form-label">Cliente</label>
            <select formControlName="client_rfc" class="form-select" id="cliente" (change)="onClientChange($event)">
              <option *ngFor="let client of clients" [value]="client.rfc">{{ client.business_name }}</option>
            </select>
          </div>

          <!-- Selección de Trámite -->
          <div class="mb-3" *ngIf="tramites.length > 0">
            <label for="tramiteId" class="form-label">Trámite</label>
            <select formControlName="tramite_id" class="form-select" id="tramiteId">
              <option *ngFor="let tramite of tramites" [value]="tramite.id">{{ tramite.id }}</option>
            </select>
          </div>

          <!-- Botón para confirmar la factura -->
          <div class="mt-4">
            <button type="button" class="btn btn-success" (click)="confirmFactura()">
              Confirmar Factura
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
