<app-navbar></app-navbar>
<div class="container-fluid pt-4 px-4">
  <h4>Gestion de Clientes</h4>
  <div class="row g-4">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-form rounded h-100 p-4">
        <h6 class="mb-4">Registro de Cliente</h6>
        <div id="alertPlaceholderCrear"></div>
        <form [formGroup]="clientForm" (ngSubmit)="registerClient()">
          <div class="mb-3">
            <label for="rfcClienteCrear" class="form-label">RFC</label>
            <input formControlName="rfc" type="text" class="form-control" id="rfcClienteCrear" required>
            <div *ngIf="clientForm.get('rfc')?.invalid && clientForm.get('rfc')?.touched" class="text-danger">
              RFC debe tener entre 12 y 13 caracteres alfanuméricos.
            </div>
          </div>
          <div class="mb-3">
            <label for="razonSocialClienteCrear" class="form-label">Razón Social</label>
            <input formControlName="business_name" type="text" class="form-control" id="razonSocialClienteCrear" required>
            <div *ngIf="clientForm.get('business_name')?.invalid && clientForm.get('business_name')?.touched" class="text-danger">
              Este campo es obligatorio.
            </div>
          </div>
          <div class="mb-3">
            <label for="emailClienteCrear" class="form-label">Email</label>
            <input formControlName="email" type="email" class="form-control" id="emailClienteCrear" required>
            <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="text-danger">
              Debes ingresar un email válido.
            </div>
          </div>
          <div class="mb-3">
            <label for="telefonoClienteCrear" class="form-label">Teléfono</label>
            <input formControlName="phone_number" type="tel" class="form-control" id="telefonoClienteCrear" required>
            <div *ngIf="clientForm.get('phone_number')?.invalid && clientForm.get('phone_number')?.touched" class="text-danger">
              El número debe tener 10 dígitos.
            </div>
          </div>
          <div class="mb-3">
            <label for="nombreResponsableClienteCrear" class="form-label">Nombre del Responsable</label>
            <input formControlName="contact_first_name" type="text" class="form-control" id="nombreResponsableClienteCrear" required>
            <div *ngIf="clientForm.get('contact_first_name')?.invalid && clientForm.get('contact_first_name')?.touched" class="text-danger">
              Este campo es obligatorio.
            </div>
          </div>
          <div class="mb-3">
            <label for="apellidoResponsableClienteCrear" class="form-label">Apellido del Responsable</label>
            <input formControlName="contact_last_name" type="text" class="form-control" id="apellidoResponsableClienteCrear" required>
            <div *ngIf="clientForm.get('contact_last_name')?.invalid && clientForm.get('contact_last_name')?.touched" class="text-danger">
              Este campo es obligatorio.
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Registrar Cliente</button>
        </form>
      </div>
    </div>

    <div class="col-sm-12 col-xl-6">
      <div class="bg-form rounded h-100 p-4">
        <form [formGroup]="updateForm" (ngSubmit)="actualizarCliente()">
          <div class="mb-3">
            <label for="rfcClienteBuscar" class="form-label">RFC para búsqueda</label>
            <input type="text" class="form-control" id="rfcClienteBuscar" required placeholder="Ingresa RFC para buscar">
            <button type="button" class="btn btn-warning mt-2" (click)="buscarCliente()">Buscar Cliente</button>
          </div>
          <input type="hidden" formControlName="rfc">
          <div class="mb-3">
            <label for="razonSocialCliente" class="form-label">Razón Social</label>
            <input type="text" formControlName="business_name" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="emailCliente" class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="telefonoCliente" class="form-label">Teléfono</label>
            <input type="tel" formControlName="phone_number" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="nombreResponsableCliente" class="form-label">Nombre del Responsable</label>
            <input type="text" formControlName="contact_first_name" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="apellidoResponsableCliente" class="form-label">Apellido del Responsable</label>
            <input type="text" formControlName="contact_last_name" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary" id="actualizarDatos" disabled>Actualizar Datos</button>
        </form>
      </div>
    </div>

    <div class="col-sm-12 col-xl-6">
      <div class="bg-form rounded h-100 p-4">
        <h6 class="mb-4">Eliminar Cliente</h6>
        <div id="alertPlaceholderEliminar"></div>
        <form [formGroup]="deleteForm" (ngSubmit)="eliminarCliente()">
          <div class="mb-3">
            <label for="rfcClienteEliminar" class="form-label">RFC del Cliente a Eliminar</label>
            <input formControlName="rfc" type="text" class="form-control" id="rfcClienteEliminar" required>
          </div>
          <button type="submit" class="btn btn-danger">Eliminar Cliente</button>
        </form>
      </div>
    </div>

    <div class="col-12">
      <div class="bg-form rounded h-100 p-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h4 class="mb-0">Clientes</h4>
          <button class="btn btn-primary" (click)="loadClients()">
            <i class="bi bi-arrow-clockwise"></i> Refrescar
          </button>
        </div>
        <div id="alertPlaceholder"></div>
        <div class="table-responsive">
          <table class="table table-hover align-middle table-striped">
            <thead class="table-dark">
              <tr>
                <th scope="col">
                  <a (click)="sortClients('rfc')" class="text-decoration-none text-white">
                    RFC <i [ngClass]="sortDirection['rfc'] ? 'bi bi-arrow-down' : 'bi bi-arrow-up'"></i>
                  </a>
                </th>
                <th scope="col">
                  <a (click)="sortClients('business_name')" class="text-decoration-none text-white">
                    Razón Social <i [ngClass]="sortDirection['business_name'] ? 'bi bi-arrow-down' : 'bi bi-arrow-up'"></i>
                  </a>
                </th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Responsable</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients">
                <td>{{ client.rfc }}</td>
                <td>{{ client.business_name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone_number }}</td>
                <td>{{ client.contact_first_name }} {{ client.contact_last_name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
