<app-navbar></app-navbar>
<div class="welcome-container">
  <div class="welcome-box">
    <h1>Bienvenido/a</h1>
    <p>
      Recuerda que la información que manejarás es de carácter confidencial y será utilizada
      únicamente para fines empresariales. Ten especial cuidado, ya que esta información
      será compartida con COFEPRIS y es vital para los procesos de regulación.
    </p>
    <p class="important-message">
      ¡Por favor, maneja la información con sumo cuidado!
    </p>
  </div>
</div>

