:root {
  --primary: #0D9603;
  --secondary: #1A1C24;
  --light: #d5d7e0;
  --dark: #000000;

  --font-family-base: 'Open Sans', sans-serif;

  --headings-font-family: 'Roboto', sans-serif;

  --body-bg: var(--dark);

  --body-color: var(--light);

  --headings-color: #FFFFFF;

  --headings-font-weight: 700;

  --display-font-weight: 700;

  --border-color: var(--dark);

  --input-border-color: var(--border-color);

  --nav-tabs-border-color: var(--border-color);

  --nav-tabs-link-hover-border-color: var(--border-color);

  --nav-tabs-link-active-border-color: var(--border-color);

  --input-bg: var(--dark);

  --list-group-color: var(--body-color);

  --list-group-border-color: var(--border-color);

  --border-radius: 5px;

  --link-decoration: none;

  --enable-responsive-font-sizes: true;

  --enable-negative-margins: true;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-family: var(--font-family-base);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
}

.display-1, .display-2, .display-3, .display-4 {
  font-weight: var(--display-font-weight);
}

.nav-tabs {
  border-color: var(--nav-tabs-border-color);
}

.nav-tabs .nav-link:hover {
  border-color: var(--nav-tabs-link-hover-border-color);
}

.nav-tabs .nav-link.active {
  border-color: var(--nav-tabs-link-active-border-color);
}

input {
  background-color: var(--input-bg);
  border-color: var(--input-border-color);
}

.list-group {
  color: var(--list-group-color);
  border-color: var(--list-group-border-color);
}

.border-radius {
  border-radius: var(--border-radius);
}

a {
  text-decoration: var(--link-decoration);
}

.bg-form{
  background-color: #1A1C24;
}

input.form-control {
  background-color: #000000;
  border-color: #0d0e0d;
  color: #D4D7E0;
}

input.form-control::placeholder {
  background-color: #000000;
  color: #D4D7E0;
  opacity: 0.7; /* Para hacer que el placeholder sea menos visible */
}

input.form-control:focus {
  background-color: #000000;
  color: #D4D7E0;
  border-color: #0D9603; /* Cambia el borde cuando está enfocado */
}

select.form-select {
  background-color: #000000;
  border-color: #0d0e0d;
  color: #D4D7E0;
}

select.form-select:focus {
  background-color: #000000;
  color: #D4D7E0;
  border-color: #0D9603; /* Cambia el borde cuando está enfocado */
}

textarea.form-control {
  background-color: #000000;
  border-color: #0d0e0d;
  color: #D4D7E0;
}

textarea.form-control::placeholder {
  background-color: #000000;
  color: #D4D7E0;
  opacity: 0.7; /* Para hacer que el placeholder sea menos visible */
}

textarea.form-control:focus {
  background-color: #000000;
  color: #D4D7E0;
  border-color: #0D9603; /* Cambia el borde cuando está enfocado */
}
