/* Importa Bootstrap desde node_modules */
@import url('node_modules/bootstrap/dist/css/bootstrap.min.css');

/* Personalizaciones de Bootstrap */
body {
  background-color: #000000;
}

.navbar {
  background-color: #000000; /* Ejemplo de personalización del color primario */
}

/* Tus estilos personalizados */
.custom-class {
  color: #333;
  font-size: 16px;
}
